---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Principels"
	description="Principles are all vices"
	pubDate={new Date('What comes first')}
	heroImage="painting-Westphalian master, Healing of Lazarus, 1400.jpg"
	>
	<p>
		I've always loved to write and I knew it would carry me through life,
		but who knew the things I'd witness.
	</p>
</Layout>
