---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Principles"
	description="Principles are all vices"
	pubDate={new Date('June 06 2023')}
	heroImage="/about-img.jpg"
	imgQuote="Regulatory bodies fear God"

>
	<p>
		Kafka wrote <i>The Trials</i> without knowing its impact on future rhetoric. Now, here, in my dingy
		appartment I'm creating this website which will elucidate the truths of this world. This, I must say,
		was entirely possible thanks to that Czech lawyer. 
	</p>

	<p>
		For the past thirty years, I've done nothing. Done, seen, felt, nothing. Nothing. I know nothing.
		And so, from this day forwads, I'll do my upmost to see this world in its entirety.
	</p>

	<p>
		I don't know how much I'll see, nor for how long I'll be able to look. However, 
		I'll be sure to keep You updated. Perhaps some days I'll be without internet, 
		stuck atop the Himalayas, or traped in a dwarven colony in the Alpes. But know that
		if I find an escape you will hear of my tales.
	</p>

	<p>
		To life.
	</p>
</Layout>
