---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>What is this?</h1>
			<p>
				Hi, my name is Gregory Visregard, an office worker in my city's capital. 
				At the time of making this I'm 34 and I've done nothing of my life.
			</p>
			<p>
				After suffering for so long I've decided that enough was enough and that
				I'd go out and explore this world.
			</p>
			<p>
			This will be that.
			</p>

			<a href="/blog">Go To Blogs</a>
		</main>
		<Footer />
	</body>
</html>
