---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>What is this?</h1>
			<p>
				Hi, my name is Gregory Visregard, an office worker in my city's capital. 
				I'm 34 at the time of making this website and I've done nothing of my life.
			</p>
			<p>
				Finally, after suffering for so long I've decided that enough was enough and that
				I'd go out and explore this world.
			</p>
			<p>But before doing so, I think it would be best if you knew a bit about myself. My beliefs, my dogma's, my principles.</p>
			
			<p>
				First, I'd like to start with 
			</p>
			<a href="/blog">Go To Blogs</a>
		</main>
		<Footer />
	</body>
</html>
